h1 {
    text-align: center;
    margin-top: 90px;
}

.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}

button {
    height: 80px;
    width: 100px;
    margin: 30px;
    cursor: pointer;
    outline:auto;
    border: none;
    border: 8px solid white;
}

button:active{
    opacity: 0.6;
}